.navbar-brand-center{
    margin: 0 auto;
}

.mynav{
  background-color: #29a745;
}

.wf-roundedmplus1c { font-family: "Rounded Mplus 1c"; }
.suezone{ 
  font-family: 'Suez One', serif;
  text-align: center;
}

.view{
  max-height: 85vw;
}

.jumbtron {
	padding-top: 0px;
	background: url(./img/beach.jpg);
	background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  
}

  
  ul {
    margin: 0;
    padding: 0;
    max-height: 80%;
    overflow: scroll;
  }
  li * {
    float: left;
  }
  li {
    clear:both;
    list-style:none;
  }
  input, button {
    outline: none;
  }
  button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    cursor: pointer;
  }
  button:hover {
    color: #333;
  }

  input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 20px;
    color: #888;
  }
  input[type="text"]:focus {
    color: #333;
  }
  
  /* New Task */
  label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
  }
  input#new-task {
    float: left;
    height: 40px;
  }

  .edit-task{
    float: left;
    height: 35px;
  }

  p > button:hover {
    color: #0FC57C;
  }
  
  /* Task list */
  li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 5px solid #29a745;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }
  li > label {
    font-size: 18px;
    line-height: 40px;
    padding: 0 0 0 11px;
    background: #ffffff6b;
  }

  
  /* Completed */
  #completed-tasks label {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task */
  ul li input[type=text] {
    display:none;
  }
  
  ul li.editMode input[type=text] {
    display:block;
  }
  
  ul li.editMode label {
    display:none;
  }